<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite">

   <test name = "tcktests">
      <classes>
         <class name = "org.eclipse.microprofile.openapi.tck.ModelConstructionTest" />
      </classes>
   </test>

   <test name = "additionaltests">
      <classes>
         <class name = "org.eclipse.microprofile.openapi.tck.ExtendedTCKTest" />
      </classes>
   </test>

</suite>